@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy";
    src: url("../public/assets/fonts/Gilroy/GIP-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../public/assets/fonts/Gilroy/GIP-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../public/assets/fonts/Gilroy/GIP-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../public/assets/fonts/Gilroy/GIP-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../public/assets/fonts/Gilroy/GIP-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

:root {
    --primary-font-color: rgb(40 26 57);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Gilroy, serif;
    color: var(--primary-font-color);
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.heroHeader {
    background-image: url("../public/assets/images/black-gradient.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.ant-carousel .slick-prev,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-prev:hover {
    left: 50px;
    z-index: 2;
    color: white;
    font-size: 40px;
    opacity: 50%;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:focus,
.ant-carousel .slick-next:hover {
    right: 50px;
    z-index: 2;
    color: white;
    font-size: 40px;
    opacity: 50%;
}

.next-slide-anim {
    opacity: 100%;
    transition-duration: 2000ms;
}

.ppBoxBgGradient {
    background-image: radial-gradient(circle at 58.75% 70%, rgba(0, 166, 255, 0.58) 0%, 17.5%, rgba(0, 166, 255, 0) 35%), radial-gradient(circle at 96.66666666666667% 100%, #FFB92A 0%, 24.91%, rgba(255, 185, 42, 0) 53%), radial-gradient(circle at 2.5% 59.166666666666664%, rgba(1, 1, 139, 0.99) 0%, 25%, rgba(1, 1, 139, 0) 50%), radial-gradient(circle at 35.41666666666667% 24.166666666666668%, #40C0F2 0%, 61.6%, rgba(64, 192, 242, 0) 70%), radial-gradient(circle at 87.91666666666667% 7.5%, #07B272 0%, 42%, rgba(7, 178, 114, 0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #F6F6F6 0%, 100%, rgba(246, 246, 246, 0) 100%)
}